# Web scraping
requests
urllib3
beautifulsoup4
lxml

# Web application
Django
whitenoise
gunicorn

# analysis
numpy

# tests
coverage

# linter
flake8

# formatter
black

# environment
python-dotenv

# ci/cd
tox
