<!-- SITEMAP SPYDER -->
<form>
  <p>Enter URL for sitemap.xml</p>
  <br />
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        type="text"
        id="input-url-sitemap"
        name="input-url-sitemap"
        placeholder="i.e. https://domain.com/sitemap.xml"
      />
    </div>
    <div class="control">
      <button class="button is-info">
        <input
          class="button is-info"
          type="submit"
          id="execute-crawl-sitemap"
          value="Create a Web Viz!"
        />
      </button>
    </div>
  </div>
</form>
