{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LINK SPYDER</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.js"></script>
    <link rel="stylesheet" href="{% static 'css/graph.css' %}"/>
    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-70D1QK85YT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-70D1QK85YT");
    </script>
  </head>
  <body>
    <!-- Navbar -->
    {% include '_navbar.html' %}
    <!-- Container -->
    <section class="container">
      {% block main %}
      <h1>No content here...</h1>
      {% endblock %}
    </section>
    <!-- Scripts -->
    <script src="{% static 'js/d3_forced_network_graph_sitemap.js' %}"></script>
    <script src="{% static 'js/graph/clear.js' %}"></script>
    <script src="{% static 'js/graph/container.js' %}"></script>
    <script src="{% static 'js/graph/node.js' %}"></script>
    <script src="{% static 'js/graph/tooltip.js' %}"></script>
  </body>
</html>
