{% extends 'base.html' %}
{% block main %}
<!-- URL Input Box -->
<section class="section">
  <div class="columns is-centered">
    {% include '_sitemap_form.html' %}
  </div>
  {{ error_msg | safe }}
</section>
<!-- Web Viz & Stats -->
<section class="section">
  <div class="tile is-ancestor">
    <!-- GRAPH -->
    <div id="viz-container" class="tile is-parent is-vertical">
      <div class="tile is-child notification is-light">
        <p class="sub-title is-size-4 has-text-centered">WEB VIZ</p>
      </div>
    </div>
    <!-- STATS -->
    <div id="stats-container" class="tile is-parent is-vertical">
      <div class="tile is-child notification is-light">
        <p class="sub-title is-size-4 has-text-centered">WEB STATS</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
