<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LINK SPYDER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar is-warning">
      <div class="navbar-brand">
        <a class="navbar-item" href=""><span class="title is-size-4">LINK SPYDER</span></a>
      </div>
    </nav>
    <!-- URL Input Box -->
    <section class="section">
      <div class="block">
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text" placeholder="Enter your website URL (i.e. https://google.com/)">
          </div>
          <div class="control">
            <a class="button is-info">Create a Web Viz!</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Web Viz & Stats -->
    <section class="section">
      <div class="block">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child notification is-light">
              <p>WEB VIZ</p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child notification is-light">
              <p>LINK STATS</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>