<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LINK SPYDER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar is-warning">
      <div class="navbar-brand">
        <a class="navbar-item" href=""><span class="title is-size-4">LINK SPYDER</span></a>
      </div>
    </nav>
    <!-- URL Input Box -->
    <section class="section">
      <div class="columns is-centered">
        <form>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" id="input-url" name="input-url" placeholder="Enter URL">
            </div>
            <div class="control">
              <button class="button is-info">
                <input class="button is-info" type="submit" id="execute-crawl" value="Create a Web Viz!">
              </button>
            </div>
          </div>
        </form>
      </div>
      {{ error_msg | safe }}
    </section>
    <!-- Web Viz & Stats -->
    <section class="section">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child notification is-light">
            <p class="sub-title is-size-4 has-text-centered">WEB VIZ</p>
            <div id="container" class="svg-container"></div>
            <div id="legend" class="legend-container"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/d3_forced_network_graph.js') }}"></script>
  </body>
</html>